[Unit]
Description=Puffin server installer
After=local-fs.target
Conflicts=getty@tty1.service

[Service]
Type=idle
ExecStart=/usr/bin/puffin-install
StandardInput=tty-force
StandardOutput=tty
StandardError=tty
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes

[Install]
WantedBy=multi-user.target

