[Unit]
Description=Puffin graphical installer
Wants=seatd.service
After=local-fs.target seatd.service systemd-user-sessions.service
Before=graphical.target
Conflicts=getty@tty1.service
ConditionPathExists=/dev/tty0

[Service]
Type=simple
ExecStart=/usr/bin/cage -- /usr/bin/puffin-install
StandardInput=tty-fail
StandardOutput=journal+console
StandardError=journal+console
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes
RuntimeDirectory=puffin-installer
RuntimeDirectoryMode=0700
Environment=XDG_RUNTIME_DIR=/run/puffin-installer
Environment=LIBSEAT_BACKEND=seatd
Environment=WLR_LIBINPUT_NO_DEVICES=1
Environment=WLR_ALLOCATOR=shm
Environment=WLR_RENDERER=pixman

[Install]
WantedBy=multi-user.target
